<div id="sidebar">

    <div class="title">
        <img src="https://i.ibb.co/KhvMfgx/422985123-753783996378459-4894069643965514189-n-1.png">
    </div>

    <div class="profile">
        <img src="{{user.profilepic}}"> <p>{{user.fname}} {{user.lname}}</p> <a href="/Profile"> <img src="https://cdn-icons-png.flaticon.com/128/271/271228.png" id="arrow"></a>
    </div>

    <div class="nav-items">
        <div class="menu-item" id="home">
            <a href = "/home"><p>Home</p></a> 
        </div>

        <div class="menu-item" id="reservation">
            <a href="/reservation"><p>Reservation</p></a>
        </div>

        <div class="menu-item" id="help">
            <a href="/helpdesk"><p>Help</p></a>
        </div>

        <div class="menu-item" id="logout">
            <a href="/LoginPage"><p>Log Out</p></a>
        </div>
    </div>
    
</div>