<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <style> 
    body {
        font-family: 'Roboto', sans-serif;
        background: #050517;
        color: white;
        margin-left: 20%; /* Adjust according to the width of your sidebar */
        padding: 3%;
    }

    header {
        text-align: center;
        border-bottom: 3px solid black;
        padding-bottom: 1%;
    }

    h1, h2 {
        color: #050517;
    }

    main {
        margin-top: 3%;
    }

    section {
        margin-bottom: 3%;
    }

    footer {
        position: fixed;
        width: 80%; /* Adjust according to the width of your sidebar */
        bottom: 0;
        text-align: center;
        border-top: 3px solid black;
        padding-top: 1%;
        background: #050517;
    }
</style>
</head>

<body>
    <h1>About Us</h1>
    <div class="parent-container">
        <section>
            <h2>Our Mission</h2>
            <p>LabRes is a laboratory reservation system that is used by DLSU students to reserve laboratory machines to accommodate the students need. 
                This website offers user to book, edit, and cancel a reservation in case conflict in schedule arises. With it's clean and simple web design, 
                users can easily navigate in order to book a reservation. In case of issues that may arise in the laboratories, users can opt to the help desk tab to 
                raise their concerns.


            Libraries that are implemented in this website:

            https://www.npmjs.com/package/express

            https://www.npmjs.com/package/express-handlebars

            https://www.npmjs.com/package/mongoose

            https://www.npmjs.com/package/bcrypt</p>
        </section>
    </div
    >
    <footer>
        <p>© 2024 Lab Res</p>
    </footer>
</body>
</html>