body {
    display: flex;
    flex-direction: row;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin-left: 20%;
}

#main {
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-left: 10%;
    width: 80%;
    height: 100%;
}

.box {
    display: flex;
    width: 100%;
    height: 50px;
    flex-direction: row;
    background-color: #EBEBEB;
    border-radius: 10px;
    margin-bottom: 2%;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    padding: 2%;
    font-size: 25px;
    justify-content: space-between;
}

.box:hover {
    background-color: #36c8a4;
}


#home {
    color: #30ad94 !important;
}


h1 {
    text-align: center;
    font-weight: bold; 
    font-size: 3em;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #36c8a4; 
    color: #fff; 
    font-weight: bold;
    padding: 8px;
    border: 1px solid #ddd; 
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f9f9f9; 
}

td {
    padding: 8px;
    border: 1px solid #ddd; 
    text-align: center;
}